.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 12px;
    color: #2A414F;
}
.product-name{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-top: 7px;
    margin-bottom: 11px;
    color: #0E161A;
}
.product-price{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
    color: #0E161A;
}
.btn-cart{
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    border: none;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: rgba(255, 166, 0, 0.829);
}